<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>New Book</h3>
        <p>Provides the latest information of library.</p>
        <p><a class="btn btn-default" href="/Search/Index">Learn More…… &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Library search</h3>
        <p>Readers can be found by searching the stacks his beloved books.</p>
        <p><a class="btn btn-default" href="/Search/Index">Learn More…… &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Lending management</h3>
        <p>Dear reader, you can use our loan management, in our loan management system, lending his beloved books.</p>
        <p><a class="btn btn-default" href="/Search/Index">Learn More…… &raquo;</a></p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>Return management</h3>
        <p>
            Dear reader, you can use our return management, return borrowed books in our system.
        </p>
        <p><a class="btn btn-default" href="/Search/Index">Learn More…… &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>Wish list</h3>
        <p>For we buy and recommend favorite Rapidshare, we will, based on reader feedback, update our library content, and provide a better platform for you.</p>
        <p><a class="btn btn-default" href="/Search/Index">Learn More…… &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h3>I want to donate</h3>
        <p>Guys, also can get through our donation, donate their Treasury books, so that more people can borrow.</p>
        <p><a class="btn btn-default" href="/Search/Index">Learn More…… &raquo;</a></p>
    </div>
</div>
